{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}

	<main class="col" aria-labelledby="nav-btn-{{ navItems.register['name'] }}" id="{{ navItems.register['name'] }}">

		<div class="container mt-5 text-secondary">
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 mb-4">
					<div class="text-center">
						<h1>Créer un compte</h1>
					</div>
					{{ form_errors(registrationForm) }}
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.username) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword) }}
					{{ form_row(registrationForm.agreeTerms) }}

					<div class="row mt-2 px-2">
						<button type="submit" class="col-md-auto btn btn-secondary">Créer mon compte</button>
						<a href="{{ path('app_login') }}" class="col btn btn-link text-secondary">Vous avez déjà un compte ?</a>
					</div>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>

	</main>

{% endblock %}
