{% set dot = "<i class='bi bi-dot m-0'></i>" %}

<div class="row mb-4" id="commentTemplate">

	<div class="fs-3 ms-1 ms-sm-5 col-auto text-info d-flex align-items-center border border-end-0 border-1 border-info rounded-start-3 position-relative">
		<span class="position-absolute top-0 start-100 translate-middle">
			{{ dot|raw }}
		</span>
		<span class="position-absolute top-100 start-100 translate-middle">
			{{ dot|raw }}
		</span>
	</div>

	<div class="col">
		<div class="d-flex align-items-center justify-content-start">
			<span class="d-inline align-middle">
				<img {% if comment.user.avatar %} src="{{ asset('build/avatars/' ~ comment.user.avatar) }}" {% else %} src="{{ asset('build/avatars/blank.png') }}" {% endif %} class="avatarSmall rounded-circle" alt="Avatar">
			</span>
			<span class="title-font text-secondary fs-4">
				{{ dot|raw }}
			</span>
			<span class="title-font text-secondary fs-4 me-3">
				{{ comment.user.username }}
			</span>
			<span class="text-font text-info align-middle d-inline d-sm-none">
				{{ dot|raw }}
				{{ comment.postDate|format_datetime('short', 'short', locale='fr', timezone='Europe/Paris') }}
			</span>
			<span class="text-font text-info align-middle d-none d-sm-inline">
				{{ dot|raw }}
				{{ comment.postDate|format_datetime('medium', 'short', locale='fr', timezone='Europe/Paris') }}
			</span>
		</div>

		<div class="text-font row">
			<div class="col d-flex align-items-center">
				<span class="mb-3">
					{{ comment.content|slice(1, comment.content|length - 2)|raw }}
				</span>
			</div>
			{% if is_granted('ROLE_ADMIN') %}
				<span class="mb-3">
					<a href="{{ path('delete_comment', { commentId: comment.id }) }}" class="btn btn-primary">Supprimer</a>
				</span>
			{% endif %}
		</div>
	</div>
</div>
