{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block content_title %}Admin Dashboard{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block body_id %}admin-dashboard{% endblock %}

{% block main %}
    {{ render_chart(chart, {'class': 'text-light'}) }}
{% endblock %}
