{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block content_title %}Admin Dashboard{% endblock %}

{% block page_actions %}
{% endblock %}

{% block body_id %}admin-dashboard{% endblock %}

{% set charts = [
    chartVideosByTag,
    chartFavoritesByVideo,
    chartViewsByVideo,
    chartLikesByVideo,
] %}

{% block main %}

    <section class="container-fluid row">
        {% for chart in charts %}
            <div class="col-lg-6 col-md-10 mb-5 mx-lg-auto">
                {{ render_chart(chart) }}
            </div>
        {% endfor %}
    </section>


{% endblock %}
