{% extends '@EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block head_javascript %}

    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('dropzone') }}

{% endblock %}

{% block content_title %}Poster une video{% endblock %}


{% block body_id %}admin{% endblock %}

{% block main %}

	<div class="container-fluid mt-5 text-font text-dark">

		<div class="text-center mb-4">
			<h1 class="title-font text-dark">AJOUTER DU CONTENU</h1>
		</div>

		<div class="row justify-content-center">
			
			<div class="col-xl-6 mb-4">
				<p class="control-label mb-3 text-font text-dark">1- Déposez votre video ici:</p>
				<form action="{{ oneup_uploader_endpoint('gallery') }}" class='border border-2 rounded-3 border-dark dropzone' id="mydropzone">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</form>
			</div>
			
			<div class="col-xl-6">
				<p class="control-label mb-3 text-font text-dark">2- Données de la vidéo (obligatoire):</p>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-dark">{{ button|default('Envoyer') }}</button>
				{{ form_end(form) }}
			</div>

		</div>
	</div>
</div>

{% endblock %}
