{% extends 'base.html.twig' %}

{% block title %}Poster une video
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('dropzone') }}
{% endblock %}

{% block body %}
	<div class="container-fluid mt-5">
		<div class="row justify-content-center upload-font">
			<div class="col-4">
				<label class="col-12 control-label">Déposez Votre video ici:</label>
				<form action="{{ oneup_uploader_endpoint('gallery') }}" class='dropzone' id="mydropzone"></form>
			</div>
			<div class="col-4">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
			</div>
		</div>
	</div>
</div>{% endblock %}
