{% extends 'base.html.twig' %}

{% block title %}Poster une video
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('dropzone') }}
{% endblock %}

{% block body %}
	<div class="container-fluid mt-5">
		<div class="row justify-content-center upload-font">
			<div class="col-4">
				<p class="col-12 control-label mb-3 upload-font-title">Déposez votre video ici:</p>
				<form action="{{ oneup_uploader_endpoint('gallery') }}" class='dropzone' id="mydropzone"></form>

				<div id="tpl">
					<div class="dz-preview dz-file-preview well" id="dz-preview-template">
						<div class="dz-details">
							<div class="dz-filename">
								<span data-dz-name></span>
							</div>
							<div class="dz-size" data-dz-size></div>
						</div>
						<div class="dz-progress">
							<span class="dz-upload" data-dz-uploadprogress></span>
						</div>
						<div class="dz-success-mark">
							<span></span>
						</div>
						<div class="dz-error-mark">
							<span></span>
						</div>
						<div class="dz-error-message">
							<span data-dz-errormessage></span>
						</div>
					</div>
				</div>

			</div>
			<div class="col-4">
				<p class="col-12 control-label mb-3 upload-font-title">Données de la vidéo (obligatoire):</p>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>{% endblock %}
