{% extends 'base.html.twig' %}

{% block title %}Galerie Vidéo{% endblock %}


{% block body %}

    {% set offset = 6 %}

    <main class="thumbs container">

        {% for i in 0.. (videos|length / 6) %}
            <div id="{{i}}-latest" class="d-none">
                {% for video in videos |slice(0 + i * offset, offset) %}
                    {# {{ video.title }}
                    {{ video.description }}    
                    {{ video.postDate|date('d/m/Y') }}     #}
                    <img src="{{ asset('build/images/' ~ video.posterUrl) }}" alt="poster">
                {% endfor %}
            </div>
        {% endfor %}
        <button id="load-more-latest">Load More</button>

    </main>

{% endblock %}
