<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}
				Gaming Gurus
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('navbar') }}
		{% endblock %}
	</head>

	{% set dot = "<i class='bi bi-dot m-0'></i>" %}

	{% set fav = "<i class='bi fav'></i>" %}
	{% set watchLater = "<i class='bi watchLater'></i>" %}
	{% set like = "<i class='bi like'></i>" %}

	{% set navItems = [
		{
			'name':'home',
			'iconClass':'house',
			'link': 'home_index',
		},
		{
			'name':'user',
			'iconClass':'person',
			'link': 'user_dashboard',
		},
		{
			'name':'show',
			'iconClass':'play',
			'link': '',
		},
		{
			'name':'admin',
			'iconClass':'gear',
			'link': 'admin_dashboard',
		}
	] %}

	<body class="row">
		{% for category, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ category }}" id="alertMsg">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<nav class="text-light col-1">{% include "shared/navigation/desktop-navbar.html.twig" %}</nav>

		{% block body %}{% endblock %}

	</body>
</html>
