{% set dot = "<i class='bi bi-dot m-0'></i>" %}

<div {{ attributes }}>
  <section class="container my-2 p-0">
    {% if title == false %}
      <div class="col row d-flex justify-content-start align-items-end position-relative">
        <div class="text-secondary col-md-auto d-flex justify-content-start align-items-center flex-nowrap p-0" id="small-btg-tag-title">
          <span class="ms-1">{{ include('shared/tag/category-tag.html.twig', { tag: this.source, style: 'tag-list' }) }}</span>
        </div>
      </div>
    {% else %}
      <div class="text-secondary d-flex justify-content-start align-items-center">
        <span class="fs-1">{{ dot|raw }}</span>
        <h3 class="title-font m-0">{{ title }}</h3>
      </div>
    {% endif %}

    {% if subtitle == false %}

    {% else %}
      <div class="text-info ms-4">
        <p>{{ subtitle }}</p>
      </div>
    {% endif %}

    <div class="d-flex flex-xxl-column justify-content-md-start justify-content-center align-items-center flex-wrap" id="{{ galleryId }}-bt-gallery">
      {% for video in this.videos|slice(0, count - 1) %}
        <div class="{{ galleryId }}-0 bt-container m-1">{{ include('shared/thumbnail/small-thumbnail.html.twig', { item: video }) }}</div>
      {% endfor %}

      {% for i in 1..(((this.videos|length) / count)|round(0, 'ceil')) %}
        {% for video in this.videos|slice(i * count - 1, count) %}
          <div class="d-none bt-hidden {{ galleryId }}-{{ i }} m-1">{{ include('shared/thumbnail/small-thumbnail.html.twig', { item: video }) }}</div>
        {% endfor %}
      {% endfor %}

      {{ include('shared/thumbnail/small-load-more.html.twig', { gallery: galleryId }) }}
    </div>
  </section>
</div>
