{% extends 'base.html.twig' %}

{% block title %}Dashboard
	{{ app.user.username }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('addFav') }}
	{{ encore_entry_script_tags('addLater') }}
{% endblock %}

{% block body %}

	<main class="col" aria-labelledby="nav-btn-{{ navItems.user['name'] }}" id="{{ navItems.user['name'] }}">

		<section class="ud-header container-lg p-4 m-auto">
			<h1 class="title-font text-center text-secondary py-3">
				Hello
				{{ app.user.username }}
			</h1>
			<p class="text-info text-center">Voici vos stats</p>

			{% set userStats = [
        {
            'title': 'Favorites',
            'stat': app.user.favoriteVideos,
            'id': 'fav',
        },
        {
            'title': 'À regarder',
            'stat': app.user.viewLaterVideos,
            'id': 'towatch',
        },
        {
            'title': 'Historique',
            'stat': history,
            'id': 'history',
        },
    ] %}

			{% set active = {
        'tab': 'active',
        'content': 'show active'
    }%}

			<section class="user-dashboard container-lg mt-5">
				<ul class="ud-menu nav nav-tabs justify-content-center" id="userDashboards" role="tablist">

					{% for userStat in userStats %}

						<li class="nav-item fs-4" role="presentation">

							<button class="nav-link mx-3 position-relative {% if userStat['id'] == 'fav' %} {{ active['tab'] }} {% endif %}" id="{{ userStat['id'] }}-tab" data-bs-toggle="tab" data-bs-target="#{{ userStat['id'] }}-tab-pane" type="button" role="tab" aria-controls="{{ userStat['id'] }}-tab-pane" aria-selected="true">

								<span class="title-font">{{ userStat['title'] }}</span>
								<span class="position-absolute z-3 top-0 start-100 translate-middle border border-1 border-secondary badge text-font rounded-pill bg-dark text-secondary">{{ userStat['stat']|length }}</span>

							</button>
						</li>

					{% endfor %}

				</ul>

				<div class="tab-content" id="myTabContent">

					{% for userStat in userStats %}

						<div class="tab-pane fade {% if userStat['id'] == 'fav' %} {{ active['content'] }} {% endif %}" id="{{ userStat['id'] }}-tab-pane" role="tabpanel" aria-labelledby="{{ userStat['id'] }}-tab" tabindex="0">

							<div class="container-lg m-auto d-flex justify-content-center align-items-start mt-3">

								{{ include('shared/gallery/bt-gallery.html.twig', {
                title: false,
                subtitle: false,
                count: 7,
                contents: userStat['stat'],
                id: 'user' ~ userStat['id']
            }) }}

							</div>
						</div>

					{% endfor %}

				</div>

			</section>
		</main>

	{% endblock %}
